{
  "tracker_token": "",
  "tracker_cloud_org_id": "",
  "parent_portfolio_id": "",
  "selected_tracker_portfolio_id": "",
  "checked_cerebro_task_ids": [],
  "task_map": {},
  "queue_keys": {},
  "status_map": {}
}
